:root{
    --c-brand: #fac562;
    --c-dark: #333;
    --c-body: #666;
    --f-base: "Plus Jakarta Sans", sans-serif;
    --n-height: 100px;
}

*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--c-body);
    font-family: var(--f-base);
    line-height: 1.2;
}

h1,h2,h3,h4,h5,h6{
    color: var(--c-dark);
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 400;
}

.heading-xl{
    font-size: clamp(44px, 10vw, 100px);
    text-transform: uppercase;
}

.heading-1{
    font-size: clamp(32px, 6vw, 54px);
}

.heading-2{
    font-size: clamp(28px, 4vw, 36px);
}

.heading-3{
    font-size: 20px;
}

a{
    color: var(--c-dark);
    text-decoration: none;
    transition: all 0.2s;
}

a:hover{
    color: var(--c-brand);
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    width: 100px;
    height: auto;
}

section{
    padding: 140px 0;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    /* background-color: aquamarine; */
    padding-left: 24px;
    padding-right: 24px;
}

.btn{
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c-brand);
    font-family: var(--f-base);
    padding: 14px 34px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 14px;
}

.btn:hover{
    background-color: var(--c-brand);
    color: white;
}

/* Navbar */
.navbar{
    /* background-color: #000; */
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 999;
    top: 0;
    left: 0;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--n-height);
}

.brand{
    color: white;
    font-size: 28px;
}

.nav-links{
    display: flex;
}

.nav-links li.active a{
    box-shadow: 0px 2px var(--c-brand);
}

.nav-links li:not(:last-child){
    margin-right:44px ;
}

.nav-links li a{
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links li a:hover{
    color: var(--c-brand);
}

.hamburger{
    display: block;
    cursor: pointer;
    display: none;
}

.hamburger span{
    display: block;
    width: 34px;
    height: 2px;
    background-color: white;
    margin: 8px auto;
    transition: all 0.4s;
}

.hamburger.active span:nth-child(1){
    transform: translateY(5px) rotate(45deg);
}

.hamburger.active span:nth-child(2){
    transform: translateY(-5px) rotate(-45deg);
}

.scrolled{
    background-color: var(--c-brand);
}

.scrolled .brand{
    color: var(--c-dark);
}

.scrolled .nav-links li a{
    color: var(--c-dark);
}

.scrolled .nav-links li a:hover{
    color: var(--c-brand);
}

.scrolled .hamburger span{
    background-color: var(--c-dark);
}

@media (max-width: 768px){

    .nav-links{
        position: fixed;
        top: var(--n-height);
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 0px 24px;
        transition: all 0.3s ease;
        height: 0;
        overflow: hidden;
        justify-content: center;
        background-color: rgb(245, 245, 245);
    }

    .nav-links.active{
        height: 190px;
    }

    .nav-links li{
        padding: 7px 0;
    }

    .nav-links li a{
        color: var(--c-dark);
    }

    .hamburger{
        display: block;
    }

}

/* Hero */
#hero{
    min-height: 100vh;
    background: linear-gradient(#0000006d, #00000097 ), url(../images/hero.jpg);
    background-position: center;
    block-size: cover;
    display: grid;
    place-content: center;
}

#hero h1{
    color: white;
    text-align: center;
}

.btn-contact{
    width: 200px;
    height: 50px;
    display: grid;
    place-content: center;
    background-color: var(--c-brand);
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: 30%;
    left: 42%;
}

.btn-contact:hover{
    background-color: white;
    color: var(--c-dark);
    font-weight: 400;
    font-size: 19px;
}

@media (max-width: 768px){

    .btn-contact{
        bottom: 30%;
        left: 40%;
    }
}

@media (max-width: 768px){

    .btn-contact{
        bottom: 30%;
        left: 35%;
    }
}

@media (max-width: 500px){

    .btn-contact{
        bottom: 30%;
        left: 25%;
    }
}

@media (max-width: 350px){

    .btn-contact{
        bottom: 30%;
        left: 20%;
    }
}




